/*#E5F3F2 BACKGROUND
#00A79D IDEA-title, SAVE bttn,
#6D6E71 BOX-title, idea title, quality
#FFFFFF SAVE-rext
#045E55 SAVE-hover
#939598 IDEA body,
#D1D3D4 Idea divider line*/

/*BASE STYLES*/

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height:100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background-color: #E5F3F2;
  width: 100vw;
}

.title-color {
  color: #6D6E71;
}

input {
  height: 25px;
  margin: 10px;
  width: 80vw;
  font-size: 15px;
  max-width: 460px;
}

.todo-task {
  height: 100px;
}

.save-button, .completed-todos {
  height: 30px;
  margin-bottom: 20px;
  color: #000000;
  background-color: #00A79D;
  text-decoration: none;
  border: none;
}

.search-input {
  height: 30px;
  margin-top: 20px;
  border-style: groove;
}

/*CARD LAYOUT*/

.delete {
  background-image: url(../Images/delete.svg);
  background-repeat: no-repeat;
}

.downvote {
  background-image:url(../Images/downvote.svg);
}

.upvote {
  background-image:url(../Images/upvote.svg);
}

.done {
  background-image:url(../Images/small-diamond.png);
  background-repeat: no-repeat;
  margin: 10px 0px;
}

.editable-body {
  margin: 15px 0px;
  font-family: "Open Sans", sans-serif;
  min-height: 40px;
}

.todo-render {
  margin: 10px 0px;
  padding: 10px 0px 5px;
  width: 80vw;
  max-width: 460px;
  color: #6D6E71;
  border-bottom: 1px solid #D1D3D4;
  font-family: "Roboto Slab", serif;
}

.task-completed {
  opacity: .3;
}

.id-wrapper {
  display: flex;
  justify-content: space-between;
}

#button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*CARD RENDER SECTION*/

.todo-search   {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.list-section {
  display: flex;
  flex-direction: column;
}

.title-render {
  font-size: 25px;
}

/*THEME STYLES*/

.button {
  height: 25px;
  width: 25px;
  background-color: transparent;
  color: transparent;
  border: none;
}

h1 {
  margin: 20px 5px 10px;
  color: ##00615A;
  font-size: 60px;
  font-family: "Roboto Slab", serif;
}

.quality-text {
  font-size: 15px;
  width: 50vw;
  font-family: "Open Sans", sans-serif;
}

label {
  color: #6D6E71;
}

/*STATE CHANGES*/

.delete:hover {
  background-image: url(../Images/delete-hover.svg);
}

.downvote:hover {
  background-image:url(../Images/downvote-hover.svg);
}

.save-button:hover {
  background-color: #045E55;
  color: #FFFFFF;
}

.completed-todos:hover {
  background-color: #045E55;
  color: #FFFFFF;
}

.upvote:hover {
  background-image:url(../Images/upvote-hover.svg);
}

.done:hover {
  background-image:url(../Images/small-diamond-h.png);
}


@media screen and (min-width: 650px) {
  input, .editable-body, .todo-render, .todo-section {
    width: 75vw;
    max-width: 460px;
  }

  .editable-body {
    min-height: 50px;
  }

}
